<section>
  <div class="navbar">
    <div class="logo">
      <img src="assets/logo.png"/>
    </div>

    <div class="actions">
      <button mat-icon-button color="white">
        <mat-icon class="material-icons-outlined">person</mat-icon>
      </button>
      <button mat-icon-button color="white">
        <mat-icon class="material-icons-outlined">description</mat-icon>
      </button>
      <button mat-icon-button color="white">
        <mat-icon class="material-icons-outlined">people</mat-icon>
      </button>
      <button mat-icon-button color="white" (click)="openAddPersonDialog()">
        <mat-icon class="material-icons-outlined">person_add_alt</mat-icon>
      </button>

      <div class="divider"></div>
      <button mat-icon-button color="white">
        <mat-icon class="material-icons-outlined">logout</mat-icon>
      </button>
    </div>


  </div>

</section>
