<section>
  <div class="login-form">
    <img src="assets/logo.png"/>
    <h1>Prihlásenie</h1>
    <div class="inputs">
      <mat-form-field>
        <mat-label class="label">Emailová adresa</mat-label>
        <input [(ngModel)]="email" matInput >
      </mat-form-field>

      <mat-form-field>
        <mat-label class="label">Heslo</mat-label>
        <input [(ngModel)]="password" matInput type="password" >
      </mat-form-field>

      <button mat-flat-button color="accent" class="login-button" (click)="login()">Prihlásiť sa</button>
      <mat-form-field style="margin-top: 24px">
        <mat-label class="label">Emailová adresa (zabudnuté heslo)</mat-label>
        <input [(ngModel)]="emailReset" matInput >
      </mat-form-field>

      <button mat-flat-button  color="accent" class="forgot-password-button" (click)="emailPasswordReset()">Zabudol som heslo</button>
    </div>


  </div>
</section>
