$mat-primary: (
  50 : #e0eaf1,
  100 : #b3cbdc,
  200 : #80a9c5,
  300 : #4d87ae,
  400 : #266d9c,
  500 : #00538b,
  600 : #004c83,
  700 : #004278,
  800 : #00396e,
  900 : #00295b,
  A100 : #8cb6ff,
  A200 : #5995ff,
  A400 : #2674ff,
  A700 : #0d64ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$mat-accent: (
  50 : #fff9e0,
  100 : #fff0b3,
  200 : #ffe680,
  300 : #ffdc4d,
  400 : #ffd526,
  500 : #ffcd00,
  600 : #ffc800,
  700 : #ffc100,
  800 : #ffba00,
  900 : #ffae00,
  A100 : #ffffff,
  A200 : #fffaf2,
  A400 : #ffe8bf,
  A700 : #ffdfa6,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$color-primary: map-get($mat-primary, 500);
$color-primary-dark: map-get($mat-primary, 900);
$color-accent: map-get($mat-accent, 500);
