section {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  padding: 16px 32px;

  .input-filter {
    width: 100%;
  }

  mat-cell, mat-header-cell {
    justify-content: center;
    overflow-wrap: normal;
  }

  mat-cell span, div {
    margin-right: 20px;
  }

  .name {
    flex: 0 0 20%;
  }

  .gefcoId {
    flex: 0 0 20%;
  }

  .email {
    flex: 0 0 20%;
  }

  .isAdmin {
    flex: 0 0 20%;
  }

  .activate{
    flex: 0 0 20%;

  }


  .table-settings {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 16px;

    mat-icon {
      margin-right: 8px;
    }
  }

}
