<section>
  <div class="header">
    <span class="vin">VIN</span>
    <span class="date-creation">Dátum prijatia vozidla</span>
    <span class="date-update">Dátum poslednej zmeny</span>
    <span class="model">Model vozidla</span>
    <span class="finished-services">Dokončené služby</span>
    <span class="unfinished-services">Nedokončené služby</span>
    <span class="state">Stav</span>
  </div>
  <div class="header-divider"></div>
  <div class="values">
    <span class="vin">{{order.vin}}</span>
    <span class="date-creation">{{order.dateOfCreation | date:'d.M.y'  }}</span>
    <span class="date-update">{{order.dateOfUpdate | date:'d.M.y'  }}</span>
    <span class="model">{{order.vehicleName}}</span>
    <span class="finished-services">{{order.finishedServices}}</span>
    <span class="unfinished-services">{{order.unfinishedServices}}</span>
    <div class="state">
      <div *ngIf="order.unfinishedServices == 0" class="state-container finished">
        <div class="state-value">dokončená</div>
      </div>
      <div *ngIf="order.unfinishedServices != 0" class="state-container unfinished">
        <div class="state-value">prebieha</div>
      </div>
    </div>
  </div>
  <div>
    <app-timeline></app-timeline>

  </div>

</section>
